[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
pre-commit = "*"
ptpython = "*"
pylama = "*"
pylint = "*"
pytest = "*"
autopep8 = "*"

[packages]
pycryptodome = "*"
numpy = "*"
pytor = {path = "."}
fire = "*"
pyyaml = "*"

[requires]
python_version = "3"
